@import '../../styles/variables';

.container {
    display: flex;
    align-items: flex-start;
    background-color: $bg-color;
    min-height: 100vh;
    padding: '20px';
    .container__list {
        width: '150px';
        height: '100vh';
        background-color: $bg-color;
        .container__list-icon {
            color: $primary-color;
            width: '30px';
            .container__list-icon {
                font-size: 1rem;
            }
        };
        .container__list-link {
            text-decoration: none;
            color:       $primary-color
        };
    }
}